

.navbar1 {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index:100; /*WIDOCZNOŚĆ WARSTWOWA*/
  }
  
  /* Links inside the navbar */
  .navbar1 a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    font-family: Montserrat;
  }
  .navbar1 b {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-family: Montserrat;
      font-size: 20px;
      margin-left: 2%;
    }
  
  /* Change background on mouse-over */
  .navbar1 a:hover {
    background: #ddd;
    color: black;
	text-decoration: none;
  }
  .footer1 {
	position:absolute;
	width: 100%;
	height: 250px;
	background-color: #333;
	color: white;
	text-align: center;
	font-family: Montserrat;
	font-size: 20px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  #demo {
    height:100%;
    position:relative;
    overflow:hidden;
  }
  
  
  .green{
    background-color:#6fb936;
  }
          .thumb{
              margin-bottom: 30px;
          }
          
          .page-top{
              margin-top:85px;
          }
  
     
  img.zoom {
      width: 100%;
      height: 200px;
      border-radius:5px;
      object-fit:cover;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
  }
          
   
  .transition {
      -webkit-transform: scale(1.2); 
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
  }
      .modal-header {
     
       border-bottom: none;
  }
      .modal-title {
          color:#000;
      }
      .modal-footer{
        display:none;  
      }
.bottom-marg1{
    margin-bottom: 60px;
    
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.f-container{
	max-width: 1170px;
	margin:auto;
}
.f-row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.f-licencja{
	width: 100%;
	height: 30px;
	background-color: #1f2022;
	text-align: center;
	color: rgba(226, 226, 226, 0.733);
}
.footer123{
	background-color: #24262b;
	font-weight: 300;
	font-size: 16px;
	padding-top: 70px;
	padding-bottom: 70px;
}
.footer-col123{
   width: 25%;
   padding: 0 15px;
   background-color: #24262b;
}
.footer-col123 h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col123 h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col123 ul li:not(:last-child){
	margin-bottom: 10px;

}
.footer-col123 ul{
	padding-left: 10px;
}
.footer-col123 h5{
	padding-left: 0px;
	font-weight: 300;
	color: #bbbbbb;
	font-size: 16px;
}
.footer-col123 ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;

}
.footer-col123 ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col123 .social-links123 a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col123 .social-links123 a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.social-links123{
	background-color: #24262b;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col123{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col123{
    width: 100%;
}
}